body{
    margin: 0;
    padding: 0;
}

h1, h2{
    text-align: center;
    vertical-align: 10em;
}

.casa{
    display: flex;
    border: 1px solid orangered;
    width: 60%;
    margin: auto;
    flex-flow: row-reverse wrap;
    
}

.cozinha{
    width: 25%;
    height: 200px;
    background: red;
}

.sala{
    width: 40%;
    height: 200px;
    background: green;
}

.corredor{
    width: 30%;
    height: 50px;
    background: blue;
}

.quarto-01{
    width: 100%;
    height: 200px;
    background: purple;
}

.quarto-02{
    width: 30%;
    height: 200px;
    background: orange;
}

.container{
    width: 30%;
    display: flex;
    justify-content: center;
}

.banheiro{
    width: 15%;
    background: brown;
}